<!doctype html>
<html>
  <head>
    <title>Title</title>
    <link rel="stylesheet" href="media/css/styles.css" type="text/css">
    <!-- favicon - needs to have the http://full_path link -->
    <link rel="icon" type="image/png" href="">

    <!-- keywords for search engines -->
    <meta name="keywords" content="earth systems grid, go-essp, esg, esgf, distributed computing, distributed storage, climate science">
    <meta name="description" content="A distributed database for structured data.">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  </head>

  <body>
    <div>

      <div id="header" style="overflow: hidden">
        <div id="logo" style="float: left; margin-right: 20px; margin-left: -10px"> 
          <a href="#"><img src="media/images/square.gif" width="70" height="70" border="0"></a>
        </div>
        <div>
          <div class="title">Title</div>
          <div class="subtitle">SubTitle</div>
          <div class="projects">
            <a href="#">Projects</a> &middot;
          </div> <!-- projects -->
        </div>
      </div> <!-- header -->

      <div class="lsidebar">
        <ul>
          <li><a href="#">Navigation</a></li>
          {% for menu_item in menu -%}
              <li><a {% if (menu_item.url == resource.url) %}class="selected"{% endif -%}
                  href="{{ content_url(menu_item.url) }}">{{ menu_item.title }}</a></li>
          {%- endfor %}
        </ul>
      </div> <!-- lsidebar -->

      <div class="content">

        {% filter markdown -%}
        {% block content %}{% endblock %}
        {%- endfilter %}

      </div> <!-- content -->

      <br class="clearfloat" />
      <div id="footer">
        <div>
          <div class="projects">
            <a href="http://www-pcmdi.llnl.gov" target="_other">PCMDI</a> &middot;
            <a href="http://cmip-pcmdi.llnl.gov/cmip5/" target="_other">CMIP5</a> &middot;
            <a href="http://www.llnl.gov" target="_other">LLNL</a> &middot;
            <a href="https://www.llnl.gov/disclaimer.html" target="_other">Privacy &amp; Legal Notice</a> &middot;
            <a>LLNL-WEB-460643 &nbsp;&nbsp;&nbsp; </a &middot;></div>
          </div> <!-- projects -->
        </div>
      </div> <!-- footer -->

    </div> <!-- body -->
  </body>
</html>
